body {
  margin: 0;
  padding: 0;
}
.footer {
  /* position: relative; */
  color: #fff;
  margin-top: -54rem;
  /* margin-top: -49rem; */
  font-size: 14px;
  padding:  0 0;
  padding: 60px 0 10px;
  width: 100%;
  /* position: absolute; */
  /* left: 1px; */
  /* padding: 0; */
  /* margin: 0; */
  /* right: 10px; */
  /* margin-right: 0; */
}
.footer1 {
  width: 100%;
  background-color: #000;
  height: 16rem;
  position: relative;
}

.footer2 {
  background-color: rgb(85, 81, 81);
  height: 45rem;
  font-size: 13px;
  position: relative;
  z-index: 1;
  margin-top: -1px;
}
.footer1 .p-4 {
  /* font-weight: bold; */
  margin: 10px;
  font-size: 22px;
  margin-top: 20px;
  position: absolute;
  margin-left: 100px;
}
.side1 .btn {
  width: 100px;
  /* display: inline; */
  padding: 9px;
  margin: 8px;
  background-color: #000;
  box-sizing: border-box;
  font-size: 13px;

  border: 2px solid #fff;
}
.side1 .btn:hover {
  color: orange;
  background: none;
  border: 1px solid orange;
}
.side1 p {
  font-size: 14px;
}
.side1 .input2 {
  width: 270px;
  padding: 8px;
  font-size: 14px;
}
.side1 {
  /* font-size: 16px; */
  position: absolute;
  left: 26%;
  margin-top: 30px;
  transform: translateY(-50%, -50%);
}
.side1 .input1 {
  position: absolute;
  left: 0;
  margin-top:70px;
  padding: 70px;
  display: inline-block;
}
.side2 {
  position: absolute;
  margin-right: 150px;
  margin-top: 30px;
  font-size: 14px;
  right: 0;
}
.side2 h3 {
  font-size: 19px;
}
.side1 label {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 14px;
}
.side1 .para {
  font-size: 12px;
  display: block;
}
.side1 .para2 {
  color: orange;
  margin-left: 25px;
  font-size: 12px;
}
.para2:hover {
  text-decoration: underline;
}
.side1.img2 {
  border: 1px solid orange;
}
.side1.img2:hover {
  color: orange;
  border: 1px solid orange;
}
.footer2 li {
  cursor: pointer;
}
.footer2 li:hover {
  text-decoration: underline;
  background: none;
}
.footer2 .jumia1 {
  position: absolute;
  left: 25%;
  margin-top: 18px;
}
.jumia1 li {
  margin-left: -8px;

}
.footer2 .jumia2 {
  position: absolute;
  left: 47%;
  margin-top: 15px;
}
.footer2 .jumia3-4 {
  position: absolute;
  left: 69%;
  margin-top: 10px;
}
.jumia2 li {
  margin-left: -8px;

}
.jumia3-4 .jumia4 {
  margin-left: 120px;
  margin-top: -145px;
}
.footer2 .payment {
  position: absolute;
  left: 25%;
  margin-top: 380px;
}
.footer2 .jumia6 {
  position: absolute;
  left: 17%;
  margin-top: 500px;
}
.footer2 .jumia5 {
  margin-top: 500px;
  margin-left: 80px;
  position: absolute;
}
.footer2 .jumia7 {
  position: absolute;
  left: 29%;
  margin-top: 500px;
}
.footer2 .jumia8 {
  position: absolute;
  left: 42%;
  margin-top: 500px;
}
.footer2 .jumia9 {
  position: absolute;
  left: 53%;
  margin-top: 500px;
}
.footer2 .jumia10 {
  position: absolute;
  left: 63%;
  margin-top: 500px;
}
.footer2 .jumia11 {
  position: absolute;
  left: 73%;
  margin-top: 500px;
}
.footer2 .jumia12 {
  position: absolute;
  left: 83%;
  margin-top: 500px;
}
.need {
  margin-left: 100px;
  position: absolute;
  margin-top: 15px;
}
.footer2 .name {
  margin-left: 90px;
  margin-top: 70px;
  position: absolute;
}
.footer2 .name1 {
  position: absolute;
  left: 7%;
  margin-top: 160px;
}
.name1 .list-group-item {
  margin-left: -8px;
}
.footer2 .follow {
  margin-top: 390px;
  position: absolute;
  margin-left: 110px;
}

.footer2 h6 {
  top: 88%;
  position: absolute;
  left: 50%;
  font-size: 20px;
  transform: translateY(-50%, -50%);
}
.footer2 hr {
  width: 90%;
  left: 5%;
  margin-top: 650px;
  position: absolute;
}
.footer2 .pay1 {
  margin: 20px;
  left: 45%;
  margin-top: 23px;
  font-size: 16px;
}
.footer2 .pay2 {
  margin-top: 23px;
  font-size: 16px;
}
.pay1:hover {
  color: blue;
}
.pay2:hover {
  color: #000;
}
