.search-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    width: 45%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-top: 178px;
    border-radius: 5px;
    margin-left: 350px;
    padding: 1px;
}
.search-container li {
    margin-bottom: -15px;
    margin-top: -10px;
}